<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jushin.net.memoryfresh">

    <!-- 起動した時にBroadCastIntentを取得するためのパーミション -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/memorybutton"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SettingsActivity" />

        <!--
            android:exportedー他のアプリに対してこのAndroidコンポーネントを公開するかどうかを決定する。
                              省略時のデフォルト値がAndroidコンポーネントによって異なるため省略しないほうが良い
                              アクティビティ	         false
                              サービス	             false
                              ブロードキャストレシーバ	 false
                              コンテンツプロバイダ	    `true`（Android 4.1以前）
                                                    `false`（Android 4.2）
            android:permissionー他のアプリからこのAndroidコンポーネントを使用する際に必要なパーミッションを設定する。
        -->
        <service
            android:name=".service.MemoryFreshService"
            android:exported="false"></service>

        <receiver
            android:name=".receiver.MainBroadReceiver"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.PacageListActivity"></activity>

        <service
            android:name=".services.MyService01"
            android:process=":testprocess1"/>
        <service
            android:name=".services.MyService02"
            android:process=":testprocess3"/>
        <service
            android:name=".services.MyService03"
            android:process=":testprocess4"/>
        <service
            android:name=".services.MyService04"
            android:process=":testprocess5"/>
        <service
            android:name=".services.MyService05"
            android:process=":testprocess2"/>

        <service
            android:name=".services.MyService06"
            android:process=":testprocess6"/>
        <service
            android:name=".services.MyService07"
            android:process=":testprocess7"/>
        <service
            android:name=".services.MyService08"
            android:process=":testprocess9"/>
        <service
            android:name=".services.MyService09"
            android:process=":testprocess9"/>
        <service
            android:name=".services.MyService10"
            android:process=":testprocess10"/>

    </application>

</manifest>
