<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jushin.net.memoryfresh">

    <!-- 起動した時にBroadCastIntentを取得するためのパーミション -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/memorybutton"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- launchmodeにsingleTaskを入れることで、Activityがすでにタスクに入っている場合
        新たにActivityを生成しない。
        -->
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:screenOrientation="portrait"/>

        <!--
            android:exportedー他のアプリに対してこのAndroidコンポーネントを公開するかどうかを決定する。
                              省略時のデフォルト値がAndroidコンポーネントによって異なるため省略しないほうが良い
                              アクティビティ	         false
                              サービス	             false
                              ブロードキャストレシーバ	 false
                              コンテンツプロバイダ	    `true`（Android 4.1以前）
                                                    `false`（Android 4.2）
            android:permissionー他のアプリからこのAndroidコンポーネントを使用する際に必要なパーミッションを設定する。
        -->
        <service
            android:name=".service.MemoryFreshService"
            android:exported="false" />

        <receiver
            android:name=".receiver.MainBroadReceiver"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.PacageListActivity"
            />

        <service
            android:name=".services.MyService01"
            android:process=":testprocess1"
            android:stopWithTask="true" />
        <service
            android:name=".services.MyService02"
            android:process=":testprocess2"
            android:stopWithTask="true" />
        <service
            android:name=".services.MyService03"
            android:process=":testprocess2"
            android:stopWithTask="true" />
        <!-- <service -->
        <!-- android:name=".services.MyService04" -->
        <!-- android:process=":testprocess4"/> -->

        <service
            android:name=".services.MyService06"
            android:process=":testprocess1"
            android:stopWithTask="true" />
        <service
            android:name=".services.MyService07"
            android:process=":testprocess2"
            android:stopWithTask="true" />
        <service
            android:name=".services.MyService08"
            android:process=":testprocess1"
            android:stopWithTask="true" />
        <!-- <service -->
        <!-- android:name=".services.MyService09" -->
        <!-- android:process=":testprocess4"/> -->

        <receiver android:name=".widget.MemoryFreshWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="jushin.net.memoryfresh.widget.MemoryFreshWidgetProvider.BUTTON_CLICKED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/memory_fresh_widget_info" />
        </receiver>

        <!-- appwidget notification を押下した時に起動するActivity -->
        <activity
            android:name=".activity.WidgetActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true">

        </activity>

    </application>

</manifest>
